html { height: 100%; }
body {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    color: black;
    background-image: url(lightMUarchbackground.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    min-height:100%; 
    position:relative; 
    padding-bottom:[footer-height]
}

table {
    border: 3px solid black;
    width: 100%;
    color: black;
    text-align: center;
}

th {
    border: 3px solid black;
    color: white;
    background-color: dimgrey;
    text-align: center;
    padding: 12px;
}

tr:nth-child(even){
    border: 3px solid black;
    color: lightgoldenrodyellow;
    background-color: darkgreen;
}

tr:nth-child(odd){
    border: 3px solid black;
    color: darkgreen;
    background-color: lightgoldenrodyellow;
}

li a {
  color: darkgreen;
}

a {
  color: darkgreen;
}

/* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
	  background: rgb(44, 44, 44); 
      background: rgba(44, 44, 44, 0.5);
      color: white;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set background and 100% height */
    .sidenav {
      padding-top: 30px;
      height: 100%;
    }
    
    /* Set background color, white text and some padding */
    footer {
      background: rgba(44, 44, 44, 0.5);
      color: white;
      padding: 40px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 25px;
      }
      .row.content {height:auto;} 
    }
/*register form*/
* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 10px;
  background-image: url(lightMUarchbackground.jpg);
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: darkgreen;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}